vaadin-text-field.bulletpoint-textfield::part(input-field) {
  background: transparent;
  overflow: hidden;
}

vaadin-button.bulletpoint-button {
    background-color: transparent;
    transition: background-color ease-in-out .2s;
}

vaadin-button.bulletpoint-button:hover {
    background-color: var(--lumo-contrast-5pct);
}

vaadin-dialog-overlay.bullet-editor::part(overlay) {
    position: absolute;
    bottom: 0;
}