@media only screen
   and (max-width : 800px) {
   .bulletlist-container {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 0.8rem !important;
   }

   .dailylist-dateselect {
        display: none !important;
   }
}

@media only screen
   and (max-width : 1240px)
    and (min-width: 801px) {
   .bulletlist-container {
        width: 75% !important;
   }
}